<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- 执行测试用例，此文件捕获整个测试XML -->
<suite name="Default Suite">

	<test name = "Testng_learn">

		<groups>
			<dependencies>
				<group name = "user_get" depends-on = "user_post"/>
			</dependencies>
		
		</groups>
	
		<classes>
			<class name = "com.qa.tests.CountryTests"/> 
		</classes>
		
	</test>
</suite>